.filter-box {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  font-weight: 500;
}

.filter-input {
  width: 100%;
  max-width: 300px;
  padding: 0.7rem;
  border-radius: var(--input-border-radius);
  border: 1px solid var(--first-color);
  transition: border;
  box-shadow: var(--main-box-shadow);
}

@media screen and (min-width: 500px) {
  .filter-input {
    width: unset;
  }
}

.filter-input:focus {
  border: 2px solid var(--first-color);
  outline: none;
}
