.filter-box {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 1rem;
  margin-bottom: var(--medium-mb);
}

.filter-input {
  width: 100%;
  max-width: 300px;
  padding: 0.7rem;
  border-radius: var(--input-border-radius);
  border: 1px solid var(--first-color);
  transition: border;
}

@media screen and (min-width: 500px) {
  .filter-input {
    width: unset;
  }
}

.filter-input:focus {
  border: 2px solid var(--first-color);
  outline: none;
}
