.contact-item {
  min-width: 250px;
  /* height: 100px; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 1rem;
  background-color: var(--main-background-color);
  border: 1px solid var(--first-color);
  border-radius: var(--main-border-radius);
  box-shadow: var(--main-box-shadow);
  overflow: hidden;
}

.contact-info-wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}

.contact-text-box {
  display: flex;
  gap: 1rem;
}

.name-text,
.number-text {
  font-size: 14px;
}

.contact-person-icon,
.contact-phone-icon,
.button-icon {
  color: var(--first-color);
  width: 1.5rem;
  height: 1.5rem;
}

.contact-btn {
  cursor: pointer;
  background-color: transparent;
  border: none;
}

.button-icon {
  transition: transform 250ms linear;
}

.button-icon:hover,
.button-icon:active {
  transform: scale(1.5);
}

.button-box {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
