.contact-item {
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
  background-color: var(--main-background-color);
  border: 1px solid var(--first-color);
  border-radius: var(--main-border-radius);
  box-shadow: var(--main-box-shadow);
}

.name-text,
.number-text {
  font-size: 14px;
}

.delete-button {
  align-self: center;
  font-size: 14px;
  padding: 1rem;
  border: 0;
  background-color: var(--first-color);
  border-radius: var(--main-border-radius);
  cursor: pointer;
  transition: background-color 250ms linear;
}

.delete-button:hover,
.delete-button:focus {
  background-color: var(--second-color);
}

.item-icon-box {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.contact-person-icon,
.contact-phone-icon {
  color: var(--first-color);
  width: 1.5rem;
  height: 1.5rem;
  cursor: pointer;
}

.contact-info-wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}

.contact-input {
  width: 100%;
  padding: 0.5rem;
  border-radius: var(--input-border-radius);
  border: 1px solid var(--first-color);
  transition: border;
  box-shadow: var(--main-box-shadow);
}

.contact-input:focus {
  border: 2px solid var(--first-color);
  outline: none;
}
