:root {
  --main-background-color: rgb(255, 255, 255);
  --main-border-radius: 20px;
  --main-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

  /* OPTION PALETTE */
  --first-color: rgb(255, 224, 204); /* Soft pastel peach */
  --second-color: rgb(224, 224, 224); /* Light grey */
  --accent-color: rgb(255, 255, 255); /* White */
  --extra-color: rgb(255, 204, 204); /* Light pastel pink */
  --extra-color-2: rgb(221, 221, 221); /* Light neutral grey */


  
  /* --first-color: rgb(255, 163, 163);
  --second-color: rgb(218, 189, 189);
  --accent-color: rgb(255, 255, 255);
  --extra-color: rgb(140, 153, 221);
  --extra-color-2: rgb(183, 183, 183); */
  --gradient: linear-gradient(
    180deg,
    rgba(176, 29, 29, 0) -3.208%,
    rgb(242, 168, 168) 71.128%
  );
  --medium-mb: 4.5rem;
  --big-mb: 10rem;
  --big-box-padding: 1.5rem;
  --input-border-radius: 22px;
  --medium-button-padding: 1rem;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--second-color);
  color: rgba(1, 1, 1, 0.8);
  line-height: 1.5;
  letter-spacing: 0.03em;
  font-size: 14px;
}

@media screen and (min-width: 400px) {
  body {
    font-size: 16px;
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
}
