.contact-list {
  display: grid;
  grid-template-columns: 250px;
  gap: 2rem;
  justify-content: center;
}

@media screen and (min-width: 600px) {
  .contact-list {
    grid-template-columns: repeat(2, auto);
  }
}