.home-section {
  padding-top: 15%;
}

.home-page-container {
  padding-top: 5rem;
  padding-bottom: 10rem;
  padding-left: 1rem;
  padding-right: 1rem;
  border-radius: 29px;
  background: var(--gradient);
}
